body {
 background : #333333;
 margin : 20px;
}
p {
 color: pink;
 text-align: justify;
}
h2 {
 text-align: center;
}
h1 {
 text-align: right;
 color: yellow;
 text-decoration: overline;
}
div {
 border: 2px
}
a:visited {color:pink;}
a:hover {color:red; text-decoration: line-through;}
